.slider-data-background1 {
    background-image: url('SiteTemplate/assets/img/slider/slider_bg01.jpg')
}

.slider-data-background2 {
    background-image: url('SiteTemplate/assets/img/slider/slider_bg01.jpg')
}

.slider-data-background3 {
    background-image: url('SiteTemplate/assets/img/slider/slider_bg01.jpg')
}
