

<div class="header-message-wrap">
    <div class="container custom-container">
        <div class="row">
            <div class="col-12">
                <div class="top-notify-message">

                    <p>@Message</p>

                    <span class="message-remove">X</span>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter] public string Message { get; set; }

}
